    .container {
        width: 100%; /* Sesuaikan dengan lebar yang diinginkan */
        height: 200px;
        overflow-x: hidden; /* Menggulirkan secara horizontal */
        white-space: nowrap; /* Mencegah pembungkusan baris */
    }
    
    img {
        display: inline-block; /* Menampilkan gambar secara inline */
        width: 200px; /* Sesuaikan dengan lebar gambar */
        height: auto;
        animation: slide 10s infinite; /* Durasi animasi */
    }
    
    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%); /* Geser ke kiri */
        }
    }